.container {
    position: relative;

    /* display: flex;
    flex-direction: column; 
    gap: var(--space-sm);
    padding: var(--space-tiny) 0; */

}

.banner,.contents {
    max-width: var(--body-width);
    margin: 0 auto;
}

.banner div {
    padding: var(--space-md);
}

.banner img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

.contents > div {
    display: flex;
    column-gap: var(--space-sm); 
    margin: 0 auto;
    padding: var(--space-md);
}

.content-left {
    flex: 1;
}

.content-right {
    flex: 0 0 300px;
}

.carousel {
    margin: var(--space-sm);
    padding: 0 var(--space-sm);
}

.viewport {
    overflow: hidden;
} 

.slides {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--border-radius);
    border: 1px solid var(--key-color);
    padding: var(--space-sm);
    margin: 0; /* 오히려 길이가 이상해져서 마진 제거 (gap으로 대체) */
    height: 70px;
}   

.carousel button {
    border-radius: 50%;
    border: 1px solid var(--key-color-low);
    background: white;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.carousel button:hover svg path {
    fill: rgba(20, 20, 20, 0.4);
} 

.footer {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}
.desc {
    font-size: 12px;
    padding-bottom: 5px;
}