.container {
    position: relative;

    /* display: flex;
    flex-direction: column; 
    gap: var(--space-sm);
    padding: var(--space-tiny) 0; */

}

.banner,.contents {
    max-width: var(--body-width);
    margin: 0 auto;
}

.banner div {
    padding: var(--space-md);
}

.banner img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

.contents > div {
    display: flex;
    column-gap: var(--space-sm); 
    margin: 0 auto;
    padding: var(--space-md);
}

.content-left {
    flex: 1;
}

.content-right {
    flex: 0 0 400px;
}

.slide {
    margin: 0 var(--space-md);
}

.card {
    border-radius: var(--border-radius);
    border: 1px solid var(--key-color);

    padding: var(--space-sm);
    margin: var(--space-sm) 0;
}
 
.card-desc {
    font-size: 13px;
    padding-bottom: 5px;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}   