/* 
Recipe.css에는:
레시피 좌우 레이아웃
카테고리 트리
레시피 그리드
레시피 카드 스타일
*/
.container {
    max-width: var(--body-width);
    margin: 0 auto;

}

/* 
트리 & 카드 형태 반응형으로 고치기 나중에
*/
.contents {
    display: grid;
    grid-template-columns: fit-content(350px) 1fr;
    gap: var(--space-md);
    min-height: 900px;
    padding: var(--space-sm) var(--space-md);
}


.left,.right {
    border-radius: 8px;
    border: 1px solid var(--key-color);
    padding: 10px 15px;
}

