
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: var(--space-sm);
    padding: 0;
}

.viewport {
    overflow: hidden;
    margin: 0 var(--space-sm);
} 

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carousel button {
    border-radius: 50%;
    border: 1px solid var(--key-color-low);
    background: white;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.carousel button:hover svg path {
    fill: rgba(20, 20, 20, 0.4);
} 