.tree {
    /* 넘을 경우..? */
    font-size: 14px;
}

.tree summary, li{
    cursor: pointer;
    list-style: none;
}

.root {
    padding-left: 0;
    margin: 0;
}

.tree ul:not(.root) {
    padding-inline-start: 20px;
}

.item {
    position: relative;  /* 가상 요소를 배치하기 위해서 relative 설정 */
}

ul:not(.root) > .item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -12px;
    width: 12px;
    height: 0;
    border-top: 1px solid var(--key-color);
}

/* 자식의 세로선을 부모가 사용하도록함 */
ul:not(.root) > .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 100%;        /* 다음 형제 노드와 이어지도록 바닥까지 연장 */
    border-left: 1px solid var(--key-color);
}

/* 마지막 자식은 세로선이 아래로 더 뚫고 나가지 않고 가로선 위치(10px)에서 멈춥니다.
    세로선이 top 0에서 시작해서 가능
    그렇기 때문에 node 1/2 정도만 추가하면 말끔한 새로선이 발생
*/
ul:not(.root) > .item:last-child::after {
    height: 10px;        /* top: 0부터 가로선 위치인 10px까지만 세로선 생성 ('└' 모양 완성) */
}

.node {
    display: flex;
    align-items: center;
    gap: var(--space-tiny);
    height: 20px;        /* 연결선 중앙 정렬 계산을 위해  고정 */
    user-select: none;      /* 빠른 연속 클릭 시 카테고리 이름이 파랗게 블록 지정되는 현상 방지 */
}

.icon {
    display: inline-flex; /* 이상태에서  display none하니까 괜찮아 둘다 block이면 이상하게 보이는데 말이지 */
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--key-color);
}

details[open] > summary .open {
    display: block;
}
details[open] > summary .close {
    display: none;
}
details:not([open]) > summary .open {
    display: none;
}
details:not([open]) > summary .close {
    display: block;
}

.accordion {
    display: grid;
    grid-template-rows: 0fr;   /* 닫혔을 때 높이 0 */
    transition: grid-template-rows 2s ease-in-out;
}

/* details가 open 상태일 때 그리드 높이를 1fr로 변경 */
details[open] > .accordion {
    grid-template-rows: 1fr;   /* 펼쳐졌을 때 전체 높이 */
}

/* 자식 ul이 접힐 때 내용물이 넘치지 않도록 방지 */
.accordion > ul {
    min-height: 0;
    overflow: hidden;
}

/* 
추가사항 접었다 펼치기 자연스럽게
선 좀 정교하게 선끝에 동그라미 추가
*/